/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #45badd;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./robot.gif');
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}

button {
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  font-family: 'Courier New', 'Courier New', Courier, monospace;
  font-size: 20px;
  color: white;
  background: #ff3482;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
  filter: brightness(95%);
}

button:active {
  transform: scale(0.98);
}

button:disabled {
  cursor: default;
  filter: brightness(30%);
}

/* speech bubble */
.speech-bubble {
  box-sizing: border-box;
  top: 20px;
  position: relative;
  background: #f8fff883;
  font-family: 'Courier New', 'Courier New', Courier, monospace;
  padding: 20px;
  border-radius: 0.4em;
  max-width: 300px;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 24px solid transparent;
  border-right-color: #f8fff883;
  border-left: 0;
  border-top: 0;
  margin-top: -12px;
  margin-left: -24px;
}

/* Media Query: Tablet or Smaller */
@media screen and (max-width: 1000px) {
  .container {
    background-size: cover;
    background-position: center;
  }

  button {
    box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.2);
  }
}
